.game-details {
    padding: 20px;
}

.game-image-wrapper {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.game-info {
    width: 100%;
}

.game-title {
    font-size: 1.5rem;
    margin: 0 0 16px 0;
}